@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 0.5625rem;
  font-weight: 400;
}
h2 {
  font-size: 0.5rem;
  font-weight: 600;
  padding-top: 0.625rem;
  color: rgba(51, 77, 122, 0.85);
}
h2:after {
  content: '';
  width: 85px;
  height: 3px;
  border-radius: 4px;
  display: block;
  margin: 25px auto 0;
}
h3 {
  font-size: 0.4375rem;
  font-weight: 400;
  padding-top: 0.3125rem;
  color: rgba(51, 77, 122, 0.85);
}
.wrapper-page {
  position: relative;
  text-align: center;
  font-weight: 400;
}
.header {
  background: url('../img/section-background.svg') 50% 17vh no-repeat, linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;
  background-size: 100%;
}
.navbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  transition: all .3s ease;
  border: 0;
  height: 1.40625rem;
  background: #ffffff;
}
.navbar .logo {
  position: absolute;
  top: 0.25rem;
  left: 1.5625rem;
}
.navbar .logo img {
  width: 0.9375rem;
  height: 0.9375rem;
}
@media screen and (max-width: 1000px) {
  .navbar .logo {
    position: absolute;
    top: 0.3125rem;
    left: 0.625rem;
  }
  .navbar .logo img {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
.main {
  overflow-x: hidden;
  position: relative;
}
.main .cards {
  display: block;
  padding: 0.9375rem;
}
.main .cards li {
  position: relative;
  text-align: center;
  max-width: 8.75rem;
  height: 2.59375rem;
  font-size: 0.5625rem;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(26, 52, 45, 0.1);
  border-radius: 0.15625rem;
  display: inline-block;
}
.main .cards li:hover {
  box-shadow: 0 0 20px 0 rgba(26, 52, 45, 0.1);
}
.PG_introduce {
  position: relative;
  padding-top: 4.6875rem;
  height: 14.0625rem;
  color: #ffffff;
}
.PG_introduce p {
  display: inline-block;
  padding-top: 0.625rem;
}
.PG_introduce .weixin-btn {
  position: relative;
}
.PG_introduce .weixin-btn .wenxin-logo {
  display: inline-block;
  position: absolute;
  top: 1.40625rem;
  z-index: 98;
}
.PG_introduce .weixin-btn .wenxin-logo img {
  width: 0.46875rem;
  height: 0.46875rem;
  position: relative;
  left: 0.25rem;
}
.PG_introduce .weixin-btn button {
  margin: 0 auto;
  margin-top: 1.5625rem;
  width: 3.125rem;
  height: 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid #2ea5ff;
  text-align: center;
  background-image: linear-gradient(to top, #2ea5ff, #2ea5ff);
  position: relative;
  bottom: 0.09375rem;
  font-size: 0.3125rem;
  line-height: 0.375rem;
  background-color: transparent;
  font-weight: 600;
  color: #ffffff;
}
.PG_introduce .weixin-btn button img {
  position: absolute;
  z-index: 99;
  top: 0.625rem;
  right: 0rem;
  width: 3.125rem;
  max-width: none;
  height: 3.125rem;
  transform: scale(0);
  transform-origin: top center;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.PG_introduce .weixin-btn button:hover {
  background-color: #f4f8fb;
  background-image: linear-gradient(to top, #21df96, #21df96);
  box-shadow: 0 10px 20px 0 rgba(26, 52, 45, 0.1);
  color: #ffffff;
  border: 1px solid #21df96;
  cursor: pointer;
}
.PG_introduce .weixin-btn button:hover img {
  transform: scale(1);
  opacity: 1;
}
.PG_question {
  position: relative;
  margin: 0.9375rem auto 0 auto;
  width: 18.125rem;
  height: 6.25rem;
}
.PG_question .question-boxs {
  display: flex;
}
.PG_question .question-boxs .question-item {
  width: 33.33%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.PG_question .question-boxs .question-item .question-title {
  font-size: 0.375rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0.3125rem;
}
.PG_question .question-boxs .question-item .question-title i:before {
  content: "";
  position: absolute;
  top: 40%;
  background: #90a1b8;
  width: 0.03125rem;
  height: 1.5625rem;
  left: 33%;
}
.PG_question .question-boxs .question-item .question-title i:after {
  content: "";
  position: absolute;
  top: 40%;
  background: #90a1b8;
  width: 0.03125rem;
  height: 1.5625rem;
  right: 33%;
}
.PG_question .question-boxs .question-item .question-text {
  text-align: left;
  font-size: 0.28125rem;
  font-weight: 9.375rem;
  color: #90a1b8;
}
@media screen and (max-width: 1000px) {
  .PG_question {
    position: relative;
    margin: 0.9375rem auto;
    width: 100%;
    height: 6.25rem;
  }
  .PG_question .question-boxs {
    display: block;
  }
  .PG_question .question-boxs .question-item {
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-top: 0.3125rem;
  }
  .PG_question .question-boxs .question-item .question-title {
    font-size: 0.3125rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0.3125rem;
  }
  .PG_question .question-boxs .question-item .question-title i:before {
    display: none;
  }
  .PG_question .question-boxs .question-item .question-title i:after {
    display: none;
  }
  .PG_question .question-boxs .question-item .question-text {
    text-align: center;
    font-size: 0.25rem;
    font-weight: 9.375rem;
    color: #90a1b8;
  }
}
.PG_program {
  position: relative;
  margin: 0.9375rem auto 0 auto;
  width: 18.125rem;
  height: 9.375rem;
}
.PG_program h2 {
  margin-bottom: 0.9375rem;
  border: 1px solid #ccc;
  border-radius: 0.15625rem;
  box-shadow: 0 0 20px 0 rgba(26, 52, 45, 0.1);
}
.PG_program .program-boxs {
  position: relative;
  display: flex;
  box-shadow: 0 15px 20px 0 rgba(26, 52, 45, 0.1);
}
.PG_program .program-boxs .program-item {
  position: relative;
  width: 33.33%;
  height: 6.25rem;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: #ffffff;
  overflow: hidden;
  padding: 0;
}
.PG_program .program-boxs .program-item img {
  display: block;
  position: absolute;
  height: 6.25rem;
  object-fit: cover;
  transition: all 2s;
}
.PG_program .program-boxs .program-item:hover .program-title {
  transform: translateY(-10px);
}
.PG_program .program-boxs .program-item:hover .program-text {
  transform: translateY(-10px);
}
.PG_program .program-boxs .program-item:hover .cover-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, #325cc7 100%);
  background-repeat: repeat-x;
  opacity: 0.8;
}
.PG_program .program-boxs .program-item:hover img {
  transform: scale(1.1);
}
.PG_program .program-boxs .program-item .program-title {
  position: absolute;
  font-size: 0.375rem;
  font-weight: 700;
  line-height: 1.4;
  width: 6.25rem;
  padding: 20%;
  bottom: 0;
  color: #ffffff;
  visibility: inherit;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s;
}
.PG_program .program-boxs .program-item .program-text {
  position: absolute;
  bottom: 0.3125rem;
  width: 5.625rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 9.375rem;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s;
}
.PG_program .program-boxs .program-item .cover-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
  background-repeat: repeat-x;
}
.PG_advantage {
  position: relative;
  margin: 0.9375rem auto 0 auto;
  background-color: rgba(244, 248, 251, 0.6);
  width: 18.125rem;
  height: 9.375rem;
}
.PG_advantage .advantage-box {
  margin-top: 0.3125rem;
  display: flex;
  position: relative;
}
.PG_advantage .advantage-box .team {
  position: relative;
  width: calc(40%);
  height: 6.25rem;
  background-color: #ffffff;
  border-radius: 0.15625rem;
  box-shadow: 0 15px 20px 0 rgba(26, 52, 45, 0.1);
}
.PG_advantage .advantage-box .team .more-left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.25rem;
  width: 100%;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  background: -webkit-linear-gradient(317.35deg, #66E4A7 0, #11BFCA 100%);
  background: linear-gradient(132.65deg, #66E4A7 0, #11BFCA 100%);
}
.PG_advantage .advantage-box .team .more-right {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.25rem;
  width: 100%;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  background: -webkit-linear-gradient(left, #0097FF 0, #005EFF 100%);
  background: linear-gradient(90deg, #0097FF 0, #005EFF 100%);
}
.PG_advantage .advantage-box .team ul {
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}
.PG_advantage .advantage-box .team ul li {
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  text-align: left;
  font-size: 0.3125rem;
  line-height: 1.2;
  background: url('../img/check.svg') left top no-repeat;
}
.PG_advantage .advantage-box .team ul li:hover p {
  transform: translateX(0.3125rem);
}
.PG_advantage .advantage-box .team ul li p {
  position: relative;
  top: 0.03125rem;
  color: rgba(51, 77, 122, 0.85);
  transition: all 1s;
}
.PG_advantage .advantage-box .team-experience {
  margin-left: 0.625rem;
}
.PG_advantage .advantage-box .team-advantage {
  margin-left: 2.5rem;
}
.PG_case {
  margin-bottom: 0.9375rem;
}
.PG_case h2 {
  padding-top: 1.5625rem;
}
.PG_case h3 span {
  color: #21df96;
}
.PG_case p {
  display: inline-block;
  margin-top: 0.625rem;
  color: #364962;
}
.PG_case .data-map img {
  margin-top: 0.625rem;
  width: 9.375rem;
  height: 9.375rem;
}
.PG_case .solution-img li {
  position: relative;
  display: inline-block;
  padding: 1.5625rem 0.9375rem;
  margin: 0.625rem;
}
.PG_case .solution-img li img {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 1.5625rem;
  left: 0.15625rem;
  top: 1.5625rem;
}
.PG_own {
  height: 8.75rem;
  padding-bottom: 0.3125rem;
  background-color: rgba(244, 248, 251, 0.6);
}
.PG_own .weixin-btn button {
  position: relative;
  bottom: 0.09375rem;
  display: inline-block;
  font-size: 0.3125rem;
  font-weight: 600;
  line-height: 0.375rem;
  background-color: transparent;
  margin: 0.625rem auto;
  width: 3.125rem;
  height: 0.625rem;
  border-radius: 0.625rem;
  text-align: center;
  background-image: linear-gradient(to top, #40c99b, #21df96);
  color: #ffffff;
}
.PG_own .weixin-btn button img {
  position: absolute;
  z-index: 999;
  top: 0.78125rem;
  right: 0rem;
  width: 3.125rem;
  max-width: none;
  height: 3.125rem;
  transform: scale(0);
  transform-origin: top center;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.PG_own .weixin-btn button:hover {
  cursor: pointer;
  background-color: #f4f8fb;
  box-shadow: 0 0 20px 0 rgba(26, 52, 45, 0.1);
}
.PG_own .weixin-btn button:hover img {
  transform: scale(1);
  opacity: 1;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.875rem;
  background-image: linear-gradient(0deg, #546E7A 0%, #37474F 100%);
  color: #ffffff;
  text-align: center;
}
.footer p {
  font-size: 0.25rem;
  line-height: 2;
  font-weight: 300;
  padding-top: 0.40625rem;
}
